@import "../variables.scss";

.home_page {
  margin-top: 100px;

  .container {
    display: flex;
    gap: 30px;

    .filter_section {
      max-width: 300px;
      min-width: 200px;
      flex: 1;
      background: $bg_color;
      position: sticky;
      top: 100px;
      height: fit-content;
    }

    .house_wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      flex: 1;
      justify-content: center;
    }

    @media (max-width: 900px) {
      .filter_section {
        display: none;
      }
    }
  }
}
