@import "../../app/variables.scss";

.off_on_btn_con {
  width: 50px;
  height: 25px;
  border-radius: 30px;
  box-shadow: inset 0 0 5px $box_shadow;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s ease;

  .btn {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: $bg_color;
    position: absolute;
    top: 1px;
    transition: 0.4s ease;
  }

  &.off {
    background: $bg_color_alt;

    .btn {
      left: 1px;
    }
  }

  &.on {
    background: $text_color;
    .btn {
      right: 1px !important;
    }
  }
}

.for_sale_btn_con {
  .for_sale {
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    background: red;
    text-transform: capitalize;
    font-size: 10px;
  }
}

.for_rent_btn_con {
  .for_rent {
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    background: yellow;
    text-transform: capitalize;
    font-size: 10px;
  }
}

.roommate_wanted_con {
  .roommate_wanted {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(20, 221, 20);
    animation: animate 700ms ease infinite;

    @keyframes animate {
      0% {
        box-shadow: 0 0 0 2px rgba(20, 221, 20, 0.73);
      }
      50% {
        box-shadow: 0 0 0 5px rgba(20, 221, 20, 0.331);
      }
      100% {
        box-shadow: 0 0 0 8px rgba(20, 221, 20, 0.064);
      }
    }
  }
}
