@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: $text_color;
  text-transform: capitalize;
}

p,
li {
  color: $text_color_light;
  font-size: 14px;
}

.container {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 85%;
  }

  @media (max-width: 500px) {
    width: 90%;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: $bg_color_alt;
}

img {
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  border: none;
  // background: black;
  background: $primary_color;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  padding: 15px 30px;
  border-radius: 5px;
  transition: 0.4s;
  opacity: 1;
  cursor: pointer;
  border: 1px solid transparent;

  &.trans {
    background: transparent;
    border-color: $text_color;
    color: $text_color;

    &:hover {
      color: white;
      background: $text_color;
    }
  }

  &:hover {
    opacity: 1;
  }
}

// swiper pagination bullets
.img_swiper_con .swiper-pagination-bullet,
.img_swiper .swiper-pagination-bullet {
  background: white;
  height: 5px;
  width: 5px;
  opacity: 1;
}

.img_swiper_con .swiper-pagination-bullet-active,
.img_swiper .swiper-pagination-bullet-active {
  background: black;
  width: 15px;
  border-radius: 10px;
}

// House Box
.house_box {
  flex: 1;
  max-width: 500px;
  min-width: 300px;
  box-shadow: 0 0 5px rgb(220, 218, 218);
  background: $bg_color;
  border-radius: 5px;
  overflow: hidden;
  height: fit-content;
  cursor: pointer;

  &:hover {
    .img_con img {
      transform: scale(1.05);
    }
  }

  .img_con {
    height: 250px;
    overflow: hidden;
    position: relative;

    img {
      transition: 0.4s ease;
    }

    .active_btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  .txt_con {
    padding: 15px;

    h3 {
      display: flex;
      align-items: center;
      font-size: 16px;

      span {
        font-size: 20px;
        line-height: 0;
        padding-bottom: 2px;
      }

      small {
        font-size: 12px;
        color: $text_color_light;
        font-weight: 500;
      }
    }

    h4 {
      color: $text_color_light;
      font-size: 14px;
      font-weight: 500;
      padding-top: 5px;
    }

    .btn_section {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
      justify-content: space-between;

      .location {
        display: flex;
        align-items: center;
        gap: 2px;

        span {
          font-size: 20px;
        }
      }

      .bookmark_btn {
        border: 1px solid $text_color_light;
        font-size: 20px;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;

        .bookmark_icon {
          pointer-events: none;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .img_con {
      height: 250px;
    }
  }

  @media (max-width: 500px) {
    min-width: 100%;
  }
}
