@import "../../../../variables.scss";

.review_page {
  display: flex;
  gap: 30px;

  .form_wrapper {
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      .input_box {
        width: 100%;
        border: 1px solid $border_color;
        border-radius: 5px;
        overflow: hidden;

        input,
        textarea {
          border: none;
          outline: none;
          background: transparent;
          width: 100%;
          padding: 15px;
        }

        textarea {
          height: 150px;
        }
      }
    }
  }

  .reviews_wrapper {
    position: relative;
    flex: 1;
    height: fit-content;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        to bottom,
        transparent,
        transparent,
        transparent,
        rgb(249, 245, 245)
      );
      pointer-events: none;
    }

    .box_con {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 70vh;
      overflow-y: scroll;
      padding-bottom: 40px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .box {
      background: $bg_color;
      border-radius: 5px;
      padding: 15px;
      height: fit-content;
      box-shadow: 0 0 5px $box_shadow;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
          text-transform: capitalize;
          font-size: 14px;
          font-weight: 600;
        }

        p {
          font-size: 12px;
          display: flex;
          align-items: center;

          span {
            color: gold;
            padding-top: 3px;
          }
        }
      }

      .txt {
        padding-top: 10px;
        font-size: 13px;
      }
    }
  }

  @media (max-width: 900px) {
    flex-direction: column-reverse;

    .reviews_wrapper .box_con {
      height: 50vh;
    }
  }
}
